.nav {
  padding-top: 5vh;
  height: 25vh; }
  .nav p {
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    color: white; }
    .nav p :hover {
      color: #C62A28; }

body {
  width: 100vw;
  background-color: black; }

#home {
  font-style: italic;
  color: #C62A28;
  display: inline; }

#about {
  text-align: right;
  display: inline; }

#contact {
  height: 10vh; }
  #contact h1 {
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-size: 20px; }

#main {
  height: 65vh;
  color: white; }
  #main .col-md-4 {
    height: 100%; }
  #main .col-md-6 {
    height: 100%; }
    #main .col-md-6 p {
      font-size: 56px;
      color: white;
      font-family: 'Roboto', 'sans-serif';
      margin: 0 0 0px; }

#logo {
  font-size: 350px;
  font-weight: bold;
  color: #C62A28; }

.rotated {
  transform: rotateZ(-90deg);
  transform-origin: 0 0; }
