/* 
    Navbar css
*/
.navbar-inverse {
     background:transparent;
    border:0px;
    margin: 0px;
    padding:10px 0;
    @include transition(all 0.3s);
    &.scrolled{
        padding: 0px;
        background-color: rgba(0,0,0,0.9);
       
    }
    .navbar-nav>li>a{
        font-family: $title-font;
        font-weight: 700;
        text-transform: capitalize;
        font-size:13px;
        letter-spacing: 0px;
        color:#fff;
        &:hover{
            color:#fff;
            background-color: transparent;
        }
    }
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color:$skincolor;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
   color:#fff;
    background-color: transparent;
}
@media(min-width:768px){
    .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;   
}
.navbar-right .dropdown-menu {
    right: auto;
    left: auto;
}
}
.navbar-brand>img {
    display: block;
    margin-top: 4px;
}

@media(max-width:767px){
    .navbar-inverse .navbar-toggle{
        border: 0px;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        background-color: transparent;
    }
}