$padding: 5px;
$myColor: #C62A28;
$bgColor: black;
$txtColor: white;

body {
    background-color: $bgColor; 
    padding-left: 5vw;
    padding-right: 5vw;
}

.header{
    padding-top: 5vh;
    height: 20vh;
    position: fixed;

    a { 
        text-decoration: none;
        font-size: 20px;
        font-style: italic;
        font-family: 'Roboto', 'sans-serif';
        color: $myColor;
    }
}

.contact{
    height: 5vh;
    bottom: 5vh;
    position: fixed;

    p{
        font-family: 'Roboto', 'sans-serif';
        color: $txtColor;
        font-size: 20px;

        &:hover{
            transition: 1s;
            color: $myColor;
        }
    }
}

.rotated{
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
}

#welcome{
    padding-top: 25vh;
}

.titles{
    p{
        font-size: 56px;
        color: $txtColor;
        font-family: 'Roboto', 'sans-serif';
        margin: 0 0 0px;
    }
}

.block{
    padding:0;
    width: 90vw;
    height: 100vh;
    padding-left: 10vw;
}